
$menu-background:#406EF4;
$footer-background:#838D92;
$fontFamily:Arial, Helvetica, sans-serif;

* {
    
    font-family:$fontFamily;
}


.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
}

header{
    display: flex;
    flex-direction:row;
    background-color:$menu-background ;
    width: 100%;
    align-items: center;
    height: 8vw;
    

}

header> nav {
  ul {
    margin: 0;
   
    list-style: none;
    background: $menu-background;
  }
 
  li { 
      display: inline-block; 
        font-size: 1.5em;    
}
 
  a {
    
    align-items: center;
    padding:7px;
    font-size: 1.3em;
    text-decoration: none;
    color:rgb(234, 234, 240);
  }
}

#logo{ 
   width: 5.5vw;
   border-radius: 50%;
   margin-left: 1rem;

}


main {
  
   
        height:400px;
        background-image: url(/basic_exercise/img/tesla.jpg);
        color: white;
 
    // display:flex;
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    // line-height: 1.6; 
        
   
}

footer {
    height: 22vh;
    background-color: grey;
    coli
}

.text{
    // margin-top: 2vw;
    // margin-left: 5vw;
   
    // position: absolute;
    color:#ffff;


    align-items: center;
}
.text>h1{
    align-items: center;
}
